* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  display: block; }

.center-line {
  width: 100%;
  height: 2px;
  background-color: #00CC44;
  position: fixed;
  top: 50%;
  margin-top: -1px; }

.earphone-wrap {
  position: relative;
  width: 100%;
  height: 100vh; }

.earphone {
  width: 300px;
  height: 295px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10px); }
  .earphone .section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease; }
    .earphone .section img {
      width: 100%; }

.section1 {
  z-index: 13; }

.section10 {
  z-index: 12; }

.section12 {
  z-index: 11; }

.state1 .earphone .section1 {
  transform: translateY(-40px); }
.state1 .earphone .section:nth-child(2) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(3) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(4) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(5) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(6) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(7) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(8) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(9) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(10) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(11) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(12) {
  transform: translateY(20px); }
.state1 .earphone .section:nth-child(13) {
  transform: translateY(20px); }

.state2 .earphone .section1 {
  transform: translateY(-150px); }
.state2 .earphone .section2 {
  transform: translateY(-70px); }
.state2 .earphone .section3 {
  transform: translateY(-50px); }
.state2 .earphone .section4 {
  transform: translate(100px, -50px); }
.state2 .earphone .section:nth-child(5) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(6) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(7) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(8) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(9) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(10) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(11) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(12) {
  transform: translateY(10px); }
.state2 .earphone .section:nth-child(13) {
  transform: translateY(10px); }

.state3 .earphone .section1 {
  transform: translateY(-200px); }
.state3 .earphone .section2 {
  transform: translateY(-120px); }
.state3 .earphone .section3 {
  transform: translateY(-100px); }
.state3 .earphone .section4 {
  transform: translate(100px, -100px); }
.state3 .earphone .section5 {
  transform: translate(-10px, -80px); }
.state3 .earphone .section6 {
  transform: translateY(-70px); }
.state3 .earphone .section:nth-child(7) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(8) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(9) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(10) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(11) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(12) {
  transform: translateY(10px); }
.state3 .earphone .section:nth-child(13) {
  transform: translateY(10px); }

.state4 .earphone .section1 {
  transform: translateY(-290px); }
.state4 .earphone .section2 {
  transform: translateY(-210px); }
.state4 .earphone .section3 {
  transform: translateY(-190px); }
.state4 .earphone .section4 {
  transform: translate(100px, -190px); }
.state4 .earphone .section5 {
  transform: translate(-10px, -170px); }
.state4 .earphone .section6 {
  transform: translateY(-160px); }
.state4 .earphone .section7 {
  transform: translateY(-80px); }
.state4 .earphone .section:nth-child(8) {
  transform: translateY(10px); }
.state4 .earphone .section:nth-child(9) {
  transform: translateY(10px); }
.state4 .earphone .section:nth-child(10) {
  transform: translateY(10px); }
.state4 .earphone .section:nth-child(11) {
  transform: translateY(10px); }
.state4 .earphone .section:nth-child(12) {
  transform: translateY(10px); }
.state4 .earphone .section:nth-child(13) {
  transform: translateY(10px); }

.state5 .earphone .section1 {
  transform: translateY(-340px); }
.state5 .earphone .section2 {
  transform: translateY(-260px); }
.state5 .earphone .section3 {
  transform: translateY(-240px); }
.state5 .earphone .section4 {
  transform: translate(100px, -240px); }
.state5 .earphone .section5 {
  transform: translate(-10px, -220px); }
.state5 .earphone .section6 {
  transform: translateY(-210px); }
.state5 .earphone .section7 {
  transform: translateY(-130px); }
.state5 .earphone .section8 {
  transform: translateY(-100px); }
.state5 .earphone .section:nth-child(9) {
  transform: translateY(10px); }
.state5 .earphone .section:nth-child(10) {
  transform: translateY(10px); }
.state5 .earphone .section:nth-child(11) {
  transform: translateY(10px); }
.state5 .earphone .section:nth-child(12) {
  transform: translateY(10px); }
.state5 .earphone .section:nth-child(13) {
  transform: translateY(10px); }

.state6 .earphone .section1 {
  transform: translateY(-340px); }
.state6 .earphone .section2 {
  transform: translateY(-260px); }
.state6 .earphone .section3 {
  transform: translateY(-240px); }
.state6 .earphone .section4 {
  transform: translate(100px, -240px); }
.state6 .earphone .section5 {
  transform: translate(-10px, -220px); }
.state6 .earphone .section6 {
  transform: translateY(-210px); }
.state6 .earphone .section7 {
  transform: translateY(-130px); }
.state6 .earphone .section8 {
  transform: translateY(-100px); }
.state6 .earphone .section9 {
  transform: translateY(-70px); }
.state6 .earphone .section:nth-child(10) {
  transform: translateY(10px); }
.state6 .earphone .section:nth-child(11) {
  transform: translateY(10px); }
.state6 .earphone .section:nth-child(12) {
  transform: translateY(10px); }
.state6 .earphone .section:nth-child(13) {
  transform: translateY(10px); }

.state7 .earphone .section1 {
  transform: translateY(-340px); }
.state7 .earphone .section2 {
  transform: translateY(-260px); }
.state7 .earphone .section3 {
  transform: translateY(-240px); }
.state7 .earphone .section4 {
  transform: translate(100px, -240px); }
.state7 .earphone .section5 {
  transform: translate(-10px, -220px); }
.state7 .earphone .section6 {
  transform: translateY(-210px); }
.state7 .earphone .section7 {
  transform: translateY(-130px); }
.state7 .earphone .section8 {
  transform: translateY(-100px); }
.state7 .earphone .section9 {
  transform: translateY(-70px); }
.state7 .earphone .section10 {
  transform: translateY(10px); }
.state7 .earphone .section11 {
  transform: translate(20px, 50px); }
.state7 .earphone .section12 {
  transform: translate(50px, 100px); }
.state7 .earphone .section13 {
  transform: translate(50px, 90px); }

.state8 .earphone .section1 {
  transform: translateY(-340px); }
.state8 .earphone .section2 {
  transform: translateY(-260px); }
.state8 .earphone .section3 {
  transform: translateY(-240px); }
.state8 .earphone .section4 {
  transform: translate(100px, -240px); }
.state8 .earphone .section5 {
  transform: translate(-10px, -220px); }
.state8 .earphone .section6 {
  transform: translateY(-210px); }
.state8 .earphone .section7 {
  transform: translateY(-130px); }
.state8 .earphone .section8 {
  transform: translateY(-100px); }
.state8 .earphone .section9 {
  transform: translateY(-70px); }
.state8 .earphone .section10 {
  transform: translateY(10px); }
.state8 .earphone .section11 {
  transform: translate(20px, 50px); }
.state8 .earphone .section12 {
  transform: translate(50px, 100px); }
.state8 .earphone .section13 {
  transform: translate(70px, 130px); }

.text {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 20);
  transition: all .6s ease-out .3s; }

.text1 {
  width: 100px;
  position: absolute;
  top: -40px;
  left: -20px; }
  .text1:after {
    content: "";
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid;
    border-color: #000 #000 transparent transparent;
    transform: skewX(50deg); }
  .text1 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text2 {
  width: 100px;
  position: absolute;
  top: -10px;
  left: 150px; }
  .text2:after {
    content: "";
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid;
    border-color: #000 transparent transparent #000;
    transform: skewX(-50deg); }
  .text2 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all;
    margin-left: 40px; }

.text3 {
  width: 100px;
  position: absolute;
  top: 70px;
  left: -10px; }
  .text3:after {
    content: "";
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid;
    border-color: transparent #000 #000 transparent;
    transform: skewX(-50deg);
    position: absolute;
    top: 10px; }
  .text3 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text4 {
  width: 100px;
  position: absolute;
  top: 30px;
  left: 210px; }
  .text4:after {
    content: "";
    display: block;
    width: 80px;
    height: 20px;
    margin-left: -20px;
    border: 1px solid;
    border-color: #000 transparent transparent #000;
    transform: skewX(-50deg); }
  .text4 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text5 {
  width: 100px;
  position: absolute;
  top: 80px;
  left: 210px; }
  .text5:after {
    content: "";
    display: block;
    width: 80px;
    height: 20px;
    margin-left: -20px;
    border: 1px solid;
    border-color: transparent transparent #000 #000;
    transform: skewX(50deg);
    position: absolute;
    top: 20px; }
  .text5 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text6 {
  width: 100px;
  position: absolute;
  top: 150px;
  left: -60px; }
  .text6:after {
    content: "";
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid;
    border-color: transparent #000 #000 transparent;
    transform: skewX(-50deg);
    position: absolute;
    top: 10px; }
  .text6 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text7 {
  width: 100px;
  position: absolute;
  top: 210px;
  left: 80px; }
  .text7:after {
    content: "";
    display: block;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid;
    border-color: transparent #000 #000 transparent;
    transform: skewX(-50deg);
    position: absolute;
    top: 10px; }
  .text7 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all; }

.text8 {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 230px; }
  .text8:after {
    content: "";
    display: block;
    width: 80px;
    height: 20px;
    margin-left: 20px;
    border: 1px solid;
    border-color: #000 transparent transparent #000;
    transform: skewX(-50deg); }
  .text8 P {
    width: 100%;
    line-height: 20px;
    text-align: left;
    word-break: break-all;
    margin-left: 30px; }

.T1 .earphone .text1, .T2 .earphone .text1, .T3 .earphone .text1, .T4 .earphone .text1, .T5 .earphone .text1, .T6 .earphone .text1, .T7 .earphone .text1, .T8 .earphone .text1 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T2 .earphone .text2, .T3 .earphone .text2, .T4 .earphone .text2, .T5 .earphone .text2, .T6 .earphone .text2, .T7 .earphone .text2, .T8 .earphone .text2 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T3 .earphone .text3, .T4 .earphone .text3, .T5 .earphone .text3, .T6 .earphone .text3, .T7 .earphone .text3, .T8 .earphone .text3 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T4 .earphone .text4, .T5 .earphone .text4, .T6 .earphone .text4, .T7 .earphone .text4, .T8 .earphone .text4 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T5 .earphone .text5, .T6 .earphone .text5, .T7 .earphone .text5, .T8 .earphone .text5 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T6 .earphone .text6, .T7 .earphone .text6, .T8 .earphone .text6 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T7 .earphone .text7, .T8 .earphone .text7 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.T8 .earphone .text8 {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); }

/*# sourceMappingURL=style.css.map */
